@font-face {
    font-family: "PingFangSC";
    src: url('PingFangSC.ttf') format("ttf");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Aharoni";
    src: url('AharoniBlod.ttf') format("ttf");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url('Roboto-Bold-3.ttf') format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "AliFangYuan";
    src: url('AlimamaFangYuanTiVF-Thin.ttf') format("ttf");
    src: url('AlimamaFangYuanTiVF-Thin.woff') format("woff");
    src: url('AlimamaFangYuanTiVF-Thin.woff2') format("woff2");
    font-display: swap;
  }